{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'wpex-post-content',
    'wpex-entry',
    'wpex-clr'
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <div{{ author_attributes.addClass('wpex-post-meta', 'wpex-clr') }}>
      {{ author_picture }}
      {{ metadata }}
      <ul class="wpex-clr">
        <li class="wpex-date"><span class="wpex-spacer">&middot;</span>{{ date }}</li>
        <li class="wpex-author"><span class="wpex-spacer">&middot;</span>{{ author_name }}</li>
      </ul>
    </div>
  {% endif %}

  <div{{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>

</article>
