{#
/**
 * @file
 * Theme override for page titles.
 */
#}
{{ title_prefix }}
{% if title %}
  <header class="wpex-post-header wpex-clr" role="banner">
    <h1{{ title_attributes.addClass('wpex-post-title') }}>{{ title }}</h1>
  </header>
{% endif %}
{{ title_suffix }}
