{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% block content %}
  <div class="wpex-site-header-wrap wpex-clr">
    <header class="wpex-site-header wpex-container wpex-clr">
      <div class="wpex-site-branding wpex-clr">
        {% if site_logo %}
          <a href="{{ path('<front>') }}" rel="home" class="site-logo">
            <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
          </a>
        {% endif %}
        {% if site_name %}
          <div class="wpex-site-logo wpex-clr">
            <div class="site-text-logo wpex-clr">
              <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
            </div>
          </div>
        {% endif %}
        {% if site_slogan %}
          <div class="wpex-site-description wpex-clr">{{ site_slogan }}</div>
        {% endif %}
      </div>
    </header>
  </div>
{% endblock %}
