{#
/**
 * @file
 * Theme override for a field.
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
    'wpex-entry-cat',
    'wpex-clr',
    'wpex-button-typo',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<div{{ attributes.addClass(classes, 'field__items') }}>
  {% for item in items %}
    <span{{ item.attributes.addClass('wpex-term-2', 'wpex-accent-bg') }}>{{ item.content }}</span>
  {% endfor %}
</div>
